<div class="layout" *ngIf="data?.selectedUser">
    <form #editForm="ngForm">
      <p>
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname"  [(ngModel)]= "data.selectedUser.first_name">
      </p>
     
      <p>
        <label for="lastname">Last Name </label>
        <input type="text" id="lastname" name="lastname"  [(ngModel)]= "data.selectedUser.last_name">
      </p>
     
      <p>
        <label for="email">Email </label>
        <input type="text" id="email" name="email"  [(ngModel)]= "data.selectedUser.email">
      </p>
      <p>
        <button type="submit" (click)="update()">Update</button>
      </p>
    </form>
  </div>
